# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\_studia\WSB\_sem2\BigDataProcessing\pro2\WSB-BigData-Project2\WSB-Projekt2-IntelliJ\.idea/dataSources/
/dataSources.local.xml
